@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: #101010;" class="jumbotron">
    <h1 style="color:white">Cardit | Admin Web</h1>
    <p style="color:white" class="lead">Web admin platform for Cardit App</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Go to app &raquo;</a></p>
</div>